*{margin:0; padding: 0;}

body{}

h1{}
h2{}
h3{}
h4{}

p, p a{}
ul, ul a{}
li, a{list-style: none;}
img, img a{}

a:link, a:visited {text-decoration:none;}
a:hover, a:active {text-decoration:none;}

.left{float: left;}
.right{float: right;}
.clear{clear: both;}

header{}

nav{}
nav ul{margin: 4% auto;}
nav ul li{text-transform: uppercase; float: left; margin: 0 2%;}

main{}

section{}

article{}

footer{}
